<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MDNKBP5KR0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MDNKBP5KR0');
</script>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>


<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./resume.html">Resume</a>

        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Product Manager / Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>
        <div class="aboutme-page">
            <div class="aboutme-main-container">

                <h1>About me</h1>
                <p>
                    Since the 90's, the computer has been my passion. I have always been interested in computers and mechatronics, and how it can be used to improve people's lives. I have been working in the automotive industry for the past 17 years, and I have learned how to manage a project from start to finish, how to work with a team and how to deliver a quality working product.
                </p>
                <p>
                    My hobbies are hiking, restoring classic cars, gaming and developing games.
                </p>                 
                <p>
                    That's a little bit of myself...
                </p>
            </div>
        </div>









    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>