<!DOCTYPE html>
<html>

<head>
    <title>Cezar's Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css" />
</head>

<body>

    <header>
        <!-- Navigation buttons sticky all pages -->
        <nav class="header-bar-left centered">
            <a href="../index.html">Home</a>
            <a href="../views/contact.html">Contact</a>
            <a href="../index.html#work">Work</a>
            <a href="./aboutme.html">About me</a>
            <a href="./projects.html">Portfolio</a>
        </nav>
        <div class="header-bar-right">
            <h1><a href="../index.html">Cezar Amaral</a></h1>
            <p>Software Developer</p>
        </div>

    </header>
    <!-- Body -->
    <main>
        <div class="project-header">
            <h2>Charger 1973</h2>
        </div>
        <div class="double-images">
            <a href="../assets/images/charger2.jpg"><img src="../assets/images/charger2.jpg"
                    alt="Screenshot of Classic Whipz page" /></a>
            <a href="../assets/images/charger3.jpg"><img src="../assets/images/charger3.jpg"
                    alt="Screenshot of Classic Whipz page" /></a>
        </div>
        <div class="double-images">
            <a href="../assets/images/charger1.JPG"><img src="../assets/images/charger1.JPG"
                    alt="Screenshot of Classic Whipz page" /></a>
            <a href="../assets/images/charger1.JPG">
                <p>This project started, first with a market research of the buyer's market, then the search for a base
                    car that could originate the product desired. The base vehicle was purchased from a
                    person that tried to restore it for 10 years, he couldn't organize and execute the project himself
                    and placed the vehicle for sale.</p>
                <p>A incomplete car with several components rusted, missing and not operative was acquired for a very
                    low cost but with a very solid structure.</p>
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger1.JPG">
                <p>This project started, first with a market research of the buyer's market, then the search for a base
                    car that could originate the product desired. The base vehicle was purchased from a
                    person that tried to restore it for 10 years, he couldn't organize and execute the project himself
                    and placed the vehicle for sale.</p>
                <p>A incomplete car with several components rusted, missing and not operative was acquired for a very
                    low cost but with a very solid structure.</p>
            </a>
            <a href="../assets/images/charger1.JPG"><img src="../assets/images/charger1.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>

        </div>

        <div class="double-images">
            <a href="../assets/images/charger1.JPG"><img src="../assets/images/charger1.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
            <a href="../assets/images/charger1.JPG">
                <p>This project started, first with a market research of the buyer's market, then the search for a base
                    car that could originate the product desired. The base vehicle was purchased from a
                    person that tried to restore it for 10 years, he couldn't organize and execute the project himself
                    and placed the vehicle for sale.</p>
                <p>A incomplete car with several components rusted, missing and not operative was acquired for a very
                    low cost but with a very solid structure.</p>
            </a>
        </div>

        <div class="double-images">
            <a href="../assets/images/charger1.JPG">
                <p>This project started, first with a market research of the buyer's market, then the search for a base
                    car that could originate the product desired. The base vehicle was purchased from a
                    person that tried to restore it for 10 years, he couldn't organize and execute the project himself
                    and placed the vehicle for sale.</p>
                <p>A incomplete car with several components rusted, missing and not operative was acquired for a very
                    low cost but with a very solid structure.</p>
            </a>
            <a href="../assets/images/charger1.JPG"><img src="../assets/images/charger1.JPG"
                    alt="Screenshot of Classic Whipz page" />
            </a>
        </div>
    </main>

    <!-- Footer with contacts -->
    <footer id="footer">
        <h3>Contact</h3>
        <h3>Phone: (647) 627-0815 <a class="hover" href="mailto:cezardenis20@gmail.com">Email:
                cezardenis20@gmail.com</a></h3>
        <h3><a href="https://github.com/cdennis27"><img src="../assets/images/githubwhite.png"></a> <a
                href="https://www.linkedin.com/in/cezar-amaral-203414251/"><img src="../assets/images/lilogo.png"></a>
        </h3>

    </footer>
</body>

</html>