:root {
    --white: #ffffff;
    --bgBlue: #020014;
    --darkBlue: #0e006b;
    --mediumBlue: rgb(0, 16, 194);
    --greyBlue: rgb(22, 26, 51);
    --greyMediumBlue: rgb(24, 33, 97);
    --lightGrey: #bebebe;
    --black: #000000;
    --brightBlue: #a6a8ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

html {
    height: -webkit-fill-available;
    display: block;
    scroll-padding-top: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100vw;
    border: red 1px solid;
}

main {
    border: var(--lightGrey) 1px solid;
}

a {
    all: unset;
    user-select: all;
    cursor: pointer;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    align-content: left;
    background-color: var(--bgBlue);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: -webkit-sticky;
    width: 100%;
    height: 80px;
    top: 0;
    flex-direction: row;
    color: var(--white);
    z-index: +5;
    padding: 10px 0 10px 0;
    background-color: var(--bgBlue);
    border: red 1px solid;
}

.header-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    width: 60%;
    padding-left: 0;
    height: 100%;
    color: var(--white);
    transition: 200ms ease-in-out;

}

.header-bar-left a {
    margin: 0 2vw 0 2vw;
    padding: 10px 5px 10px 5px;
    border-radius: 10%;
}

.header-bar-left a:hover {
    margin: 0 2vw 0 2vw;
    color: var(--brightBlue);
    border-radius: 10%;
    transition: 300ms ease-in-out;
}

.header-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.8rem;
    padding-right: 5px;
    height: 100%;
    color: var(--white);
}

.aboutme {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 400px;
    color: var(--white);
    margin-top: 80px;
    padding: 0 5vw 0 0;
}

.aboutme-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    color: var(--white);
    padding: 0 0 0 0;
}

.aboutme-right-container {
    display: flex;
    width: 40%;
    height: 100%;
    color: var(--white);
    padding: 0 0 0 0;
}


.aboutme-right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1vw;
}

.webProjects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--white);
    padding: 0 0 0 0;
    margin-top: 20px;
    border: yellow 1px solid;
}

.webProjects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 0vw;
    align-items: left;
    position: relative;
    width: 100%;
    height: 80px;
    color: var(--white);
    padding: 0 0 0 0;
    
}

.webProjects-header h3 {
    font-size: 1.5rem;
    border-bottom: var(--brightBlue) 1px solid;
    padding: 5px 0 5px 0;
    margin: 0 5vw 0 5vw;
    border: yellowgreen 1px solid;
}

.webProjects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    color: var(--white);
    padding: 10px;
    margin: 0 0 0 0;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    color: var(--white);
    padding: 10px;
    margin: 10px;
    
}

.card img {
    display: inline-block;
    width: 22vw;
    border-radius: 1vw;
    margin: 0;
}

.card p {
    padding: 0 4vw 0 4vw;
    text-align: justify;
}

.GitHub-link {
    padding: 20px 10px 20px 10px;
    margin: 10px 0 10px 0;
    color: var(--white);
    font-size: 0.8rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 60vh;
    color: var(--white);
    margin-top: 20px;
    padding: 0 0 0 0;
    
}

.contact div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60vw;
    height: 100%;
    color: var(--white);
    padding: 0 0 0 0;
    background-color: var(--greyBlue);
    margin-top: 120px;
    border-radius: 2vw;
}

.contact img {
    width: 3rem;
    height: 3rem;
    margin: 5px 20px 5px 20px;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 80vh;
    color: var(--white);
    margin-top: 20px;
    padding: 0 0 0 0;
    text-align: left;
}

.resume h1 {
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 0vw;
    align-items: left;
    position: relative;
    width: 100vw;
    height: 80px;
    color: var(--white);
    padding: 0 0 0 0;
    margin-bottom: 20px;
    margin-top: 30px;
}

.resume-header h2 {
    font-size: 1.5rem;
    border-bottom: var(--brightBlue) 1px solid;
    padding: 5px 0 5px 0;
    margin: 0 5vw 0 5vw;
}

.resume p {
    font-size: 1.2rem;
    padding: 5px 0 5px 0;
    margin: 0 5vw 0 5vw;
    text-align-last: left;
    text-align: justify;
    text-indent: 5vw;
}

.resume span {
    color: var(--brightBlue);
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.resume-end {
    border-bottom: var(--brightBlue) 1px solid;
    
}










.hover:hover {
    
    color: var(--brightBlue);
    border-radius: 10%;
    transition: 300ms ease-in-out;
}

.centered {
    justify-content: center;
    padding: 0 0 0 0;
}

footer {
    position: relative;
    width: 100%;
    height: 800px;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--bgBlue);
    color: var(--white);
    margin-top: auto;
  
  }
  
  footer h3 {
    font-size: 150%;
    line-height: 45px;
  }
  
  footer a img {
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }