:root {
    --white: #ffffff;
    --bgBlue: #030028;
    --darkBlue: #0e006b;
    --mediumBlue: rgb(0, 16, 194);
    --greyBlue: rgb(22, 26, 51);
    --lightGrey: #bebebe;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
  }
  
  html {
    height: -webkit-fill-available;
    min-width: 650px;
    display: flex;
    scroll-padding-top: 200px;
  }